.listBox{
    display: flex;
    height: 315px;
}
.listBox>div{
    flex: 1;
    margin-right: 20px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}
.listBox>div::-webkit-scrollbar
{
    width:6px;
    height:0px;
    background-color:#F5F5F5;
}
/*定义滚动条轨道
 内阴影+圆角*/
.listBox>div::-webkit-scrollbar-track
{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:10px;
    background-color:#F5F5F5;
}
/*定义滑块
 内阴影+圆角*/
.listBox>div::-webkit-scrollbar-thumb
{
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
    background-color:#555;
}
.memberGroup,.members{
    cursor: pointer;
    padding: 3px;
    border-radius:2px;
}
.memberGroup:hover,.members:hover,.chiose:hover,.hoverGroup{
    background: #409eff;
    color: #fff;
}
.chiose i{
    float: right;
    margin-top: 3px;
    margin-right: 3px;
    cursor:pointer;
}
.chiose{
    padding: 3px;
    border-radius:2px;
}
.chioseBox{
    margin-right: 0;
}
.noChild{
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    color: #ccc;
}
.search_box{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
input#search_input {
    border: 1px solid #ccc;
    height: 30px;
    padding: 0 10px;
}
span.search_btn {
    display: inline-block;
    width: 59px;
    line-height: 30px;
    background: #337ab7;
    text-align: center;
    color: #fff;
    margin-left: 10px;
    border-radius: 6px;
    cursor: pointer;
}
span.search_btn:hover{
    background: #6cf;
}