.blocks{
    display: flex;
    min-width: 900px;
}
.blocks>div{
    flex: 1;
    margin-right: 20px;
    position: relative;
    padding: 10px 10px 5px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    overflow: hidden;
    min-height: 120px;
}
.blocks>div:nth-last-child(1){
    margin-right: 0;
}
.blocks>div>img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    min-height: 120px;

}
.blocks>div>.sec1>span{
    display: inline-block;
    color: #fff;
    font-weight: 600;
    padding: 2px 0;
}
.blocks>div>.sec1>span:nth-child(2){
    float: right;
    font-size: 12px;
    color: #fff;
    font-weight: 300;
    background: rgba(255,255,255,.2);
    padding: 2px 10px;
    border-radius: 2px;
    cursor: pointer;
}
.blocks>div>span{
    display: inline-block;
    font-size: 28px;
    color: #fff;
    font-weight: 600;
    line-height: 40px;
}
.blocks>div .sec2 span{
    color: #fff;
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
}
.blocks>div .sec2 i{
    float: right;
    font-size: 18px;
    color: #fff;
    margin-right: 5px;
}
.blocks>div .sec3{
    position: absolute;
    right: 11px;
    top: 11px;
    display: flex;
    height: 0;
    overflow: hidden;
    background: #fff;
    flex-direction: column;
    width: 44px;
    align-items: center;
    border-radius: 4px;
    transition:0.3s;
}
.blocks>div .sec3>span{
    display: inline-block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    line-height: 18px;
}
.blocks>div .sec3>span:hover{
    background: #2ba3dc;
    color: #fff;
}
.reportBox{
    display: flex;
    min-width: 1210px;
    margin-top: 15px;
}
.workMouments{
    min-width: 375px;
    margin-right: 20px;
    border: 1px #dadde4 solid;
    flex: 23;
    border-top: 2px solid  #31a2db;
    border-radius: 8px;
    background: #fbfbfb;
}
.report{
    border: 1px #dadde4 solid;
    min-width: 815px;
    border-top: 2px solid  #31a2db;
    border-radius: 8px;
    flex: 50;
    background: #fbfbfb;
}
.searchBox,.shortReport{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    border-bottom: 1px solid #dadde4;
}
.searchInput{
    display: inline-flex;
    align-items: center;
}
.searchInput input{
    width: 150px;
    height: 28px;
    border: 1px #dadde4 solid;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: none;
    margin-right: 0;
    padding: 0;
    padding-left: 10px;
}
.searchInput i{
    display: inline-block;
    width: 26px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    background: #32ccf1;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px #dadde4 solid;
    border-left: none;
    cursor: pointer;
}
.secTitle{
    color: #6cf;
    font-weight: 600;
}
.tables{
    padding: 20px;
}
.tables table{
    width: 100%;
    text-align: center;
    border-radius: 4px;
}
.department{
    margin-top: 20px;
}
.tables  th{
    text-align: center;
    line-height: 30px;
    font-weight: 600;
    font-size: 16px;
}
.tables tr:nth-child(2n+1){
    background: #fff;
}
.tables td{
    width: 20%;
    line-height: 30px;
}
.dimens{
    padding: 10px;
    border-bottom: 1px solid #E2F2F7;
}
.dimens span{
    color: #838484;
    margin-right: 20px;
    cursor: pointer;
}
.dimens .choosed{
    color: #2ba3dc;
}
.workMouments .content{
    height: 350px;
    overflow-y: scroll;
}
.workMouments .content>div{
    padding: 10px;
    border-bottom: 1px solid #efefef;
    display: flex;
    align-items: center;
}
.content .headImg{
    width: 44px;
    padding-right: 10px;
}
.content .headImg img{
    width: 100%;
    border-radius: 22px;
}
.content .details .creator span{
    color: #3c8dbc;
}
.content .createTime{
    font-size: 12px;
    display: inline-block;
    margin-top: 5px;
}
.content .noData,.pipeCon .noData{
    display: block;
    line-height: 250px;
    text-align: center;
    font-size: 20px;
    color: #ccc;
}
.pipeCon .noData{
    line-height: 220px;
}
.pipeline{
    min-width: 1210px;
    margin-top: 20px;
    background: #fbfbfb;
    border: 1px #dadde4 solid;
    border-top: 2px solid  #31a2db;
    border-radius: 8px;
    height: 300px;
}
.pipeCon{
    height: 259px;
    padding: 10px;
    overflow-y:scroll;
}
.pipeCon table {
    width: 100%;
}
.pipeCon p {
    width: 190px;
    margin: auto;
    overflow: hidden;
 	text-overflow: ellipsis;
     white-space: nowrap;
     text-align: center;
}
.pipeCon td,.pipeCon th{
    text-align: center;
    line-height: 30px;
}
.pipeCon tr{
    width: 100%;
}
.pipeCon tr:nth-child(2n+1){
    background: #fff;
}
.ing td{
    width: 16.5%;
}
.ing th{
    width: 16.5%;
}
.oth td{
    width: 11%;
}
.oth th{
    width: 11%;
}
