input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #ccc;
    font-size: 12px;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ccc;
    font-size: 12px;

}

input::-moz-placeholder,
textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ccc;
    font-size: 12px;

}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ccc;
    font-size: 12px;

}

textarea {
    width: 337px;
    height: 104px;
    border: 1px solid rgba(204, 204, 204, 1);
    resize: none;
}

.tabSec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #fff;
    padding: 20px;
    border-bottom: 1px solid #eceef0;
    padding-bottom: 0;
}

/* .switchBox{
    border-bottom: 1px solid #eceef0;
} */
.switchBox span {
    cursor: pointer;
    display: inline-block;
    width: 80px;
    line-height: 40px;
    text-align: center;
    position: relative;
    top: 1px;
    color: #A7B1C2;
}

.switchBox span.choosed {
    border: 1px solid #eceef0;
    border-bottom: 1px solid #fff;
    color: #333;
    border-top: #03a9f3 solid 1px;
}

.settingBox span {
    color: #333;
    font-size: 14px;
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
}

.settingBox i {
    color: #3D6BB4;
    font-size: 16px;
}

.settingBox input {
    width: 191px;
    padding: 0 10px;
    height: 36px;
    border: #ccc 1px solid;
}

.settingBox .searchBtn {
    width: 65px;
    background: #3D6BB4;
    border-radius: 6px;
    display: inline-block;
    line-height: 33px;
    text-align: center;
    margin-left: 10px;
    color: #fff;
    cursor: pointer;
}

.selBox {
    background: #fff;
    width: 100%;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}

select {
    padding-left: 10px;
    padding-right: 35px;
    height: 31px;
    border-radius: 6px;
    color: #999;
    /*去掉默认的下拉三角*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none !important;
    margin-right: 23px;
    cursor: pointer;
    /*添加下拉三角图标*/
    background: url("../../img/customerManage/8_03.png") no-repeat right center transparent;
}

.dateBox input {
    width: 150px;
    margin: 0 10px;
}

.dateBox {
    display: flex;
    align-items: center;
}

table {
    width: 100%;
    background: #f9f9f9;
}

table tbody {
    display: block;
    overflow-y: scroll;
    max-height: 720px;
}

thead {
    width: calc(100% - 16px) !important;
}

table thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tr:nth-child(2n) {
    background: #fff;
}

td,
th {
    padding: 10px 0px;
    border-bottom: 1px solid #edeff0;
    text-align: center;
    position: relative;
    font-size: 12px;
}
th{
    padding: 10px 5px;
    white-space: normal !important;
}
table select,
.dialog select {
    height: 20px;
    padding: 0;
    padding-left: 10px;
    padding-right: 25px;
    margin-right: 0;
    background: url("../../img/customerManage/8_04.png") no-repeat right center transparent;
}

.pager_ {
    background: #f9f9f9;
    margin: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pageBox span {
    border-right: 1px solid #e6e6e6;
    line-height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.pageBox span:nth-last-child(1) {
    border-right: none;
}

.pageBox {
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}

.pageBox .choosed {
    background: #ccc;
}

#goto {
    height: 30px;
    padding-left: 10px;
    border: #e6e6e6;
    border-radius: 4px;
}

.tableBox {
    width: 100%;
    padding-bottom: 50px;
    margin-top: 20px;
}

.visit {
    width: 49px;
    line-height: 25px;
    text-align: center;
    border: 1px solid rgba(92, 147, 234, 1);
    border-radius: 4px;
    display: inline-block;
    color: rgba(92, 147, 234, 1);
    cursor: pointer;
    font-size: 12px;
    margin: 2px;

}

.visitless {
    width: 49px;
    line-height: 25px;
    background: rgba(92, 147, 234, 1);
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin: 2px;
}

.dialog {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9;
}

.set_dialog2 .dialogBox {
    width: 591px;
    height: 786px;
    background: #fff;
    margin: 125px auto 0;
}

.dialogHead {
    text-align: right;
    padding: 15px;
}

.dialogHead img {
    cursor: pointer;
}

.dialogTitle {
    display: flex;
    align-items: center;
    padding-left: 50px;
    height: 17px;
    color: #333;
}

.dialogTitle div {
    width: 4px;
    height: 17px;
    background: rgba(56, 108, 189, 1);
    margin-right: 10px;
}

.conBox {
    padding: 0 38px;
}

.conBox input[type=number] {
    width: 62px;
    margin: 0 10px;
    text-align: center;
}

.con>span {
    font-weight: 600;
    color: rgba(92, 147, 234, 1)
}

.con {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

label {
    font-weight: normal;
    cursor: pointer;
}

input[type=radio] {
    cursor: pointer;
}

.visitless_dialog .dialogBox {
    width: 490px;
    height: 453px;
    background: #fff;
    margin: 185px auto 0;
}

.visitless_dialog>.dialogBox>img {
    display: block;
    width: 100px;
    margin: 15px auto;
}

.visitless_dialog textarea {
    margin: 20px auto;
    display: block;
}

.visitless_dialog .visitless_notice {
    color: rgba(88, 138, 218, 1);
    line-height: 35px;
    width: 100%;
    display: block;
    text-align: center;
}

.visit_dialog .dialogBox {
    width: 590px;
    background: #fff;
    margin: 108px auto 0;
    padding-bottom: 20px;
}

.visit_dialog p {
    display: block;
    padding-left: 30px;
}

.visit_dialog p:not(.claa_result)>span:nth-child(1),
.claa_result>span:nth-child(1) {
    display: inline-block;
    color: rgba(102, 102, 102, 1);
    width: 104px;
    text-align: right;
    margin-right: 10px;
}

#next_time {
    width: 112px;
    height: 25px;
}

.is_continue input {
    display: inline-block;
}

.claa_result>span:not(:nth-child(1)) {
    display: inline-block;
    width: 75px;
    line-height: 27px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgba(204, 204, 204, 1);
    cursor: pointer;
    color: #999;
}

.claa_result>span.choosed {
    background: #7FA9EB;
    color: #fff;
    border: 1px solid #7FA9EB;
}

.visit_dialog label {
    color: #666;
    font-size: 13px;
}

.radio_box {
    display: inline-block;
    width: 78px;
}

.zh_box {
    display: none;
}

.ru_box {
    display: none;
}

table .notice_msg {
    width: 57px;
    height: 20px;
    border: 1px solid rgba(92, 147, 234, 1);
    border-radius: 4px;
    font-size: 12px;
    color: rgba(92, 147, 234, 1);
    padding: 3px;
    cursor: pointer;
}

table .notice_msg:hover {
    background: rgba(92, 147, 234, 1);
    color: #fff;
}

table .fa-play-circle {
    color: rgba(92, 147, 234, 1);
    font-size: 18px;
    cursor: pointer;
}
.canbusi_dialog .dialogBox {
    width: 490px;
    background: #fff;
    margin: 185px auto 0;
    padding-bottom: 20px;
}
.canbusi_dialog .dialogBox>img{
    display: block;
    margin: 0 auto;
    width: 120px;
}
.canbusi_notice{
    width: 100%;
    display: block;
    text-align: center;
    margin: 30px 0;
    color:rgba(88,138,218,1);
    font-size: 18px;
}
.canbusi{
    cursor: pointer;
}
.record_dialog .dialogBox {
    width: 590px;
    background: #fff;
    margin: 87px auto 0;
    padding-bottom: 20px;
}
.record_wrap{
    height: 600px;
    margin:20px 38px;
    overflow-y: scroll;
    position: relative;
}
.record_sec{
    position: relative;
    padding-top: 52px;
}
.record_wrap>img{
    position: absolute;
    left: 110px;
    top: 0;
}
.record_wrap .line{
    width: 2px;
    background:rgba(3,169,243,1);
    position: absolute;
    left: 133px;
    top: 46px;
}
.record_box{
    padding-left: 152px;
    position: relative;
}
.record_box p{
    padding-left: 10px;
    font-size: 12px;
    color: #666;
    line-height: 18px;
}
.record_box p:nth-child(1){
    font-style: 10px;
    color: #333;
    padding-left: 0;
    font-weight: 600;
}
.record_box p:nth-child(1) span{
    color: #FB994C;
}
.year{
    color: #1296DB;
    font-size: 20px;
    padding-left: 52px;
    display: block;
    margin-bottom: 10px;
}
.record_time{
    position: absolute;
    left: 88px;
    top: -10px;
    color: #999;
    font-size: 12px;
    text-align: center;
}
.record_time span:nth-child(1){
    font-size: 14px;
}
.point{
    color: #52B4EC;
    font-size: 20px;
    position: absolute;
    top: 2px;
    left: 127px;
    width: 15px;
    line-height: 11px;
    border-radius: 12px;
    display: block;
    text-align: center;
    background: #fff;
    border: 2px solid #52B4EC;
}